

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{ font-size: 10px;}
body {
	line-height: 1;
}
ol, ul, ol li, ul li {
	list-style: none;
}
a{text-decoration: none; color: #000;}
strong{font-weight: bold;}
button{background-color: transparent; cursor: pointer; border: none;}
legend,caption{position: absolute; top:0; left: 0; width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; text-indent: -9999px;}
.hidden{position: absolute; top:0; left: 0; width: 0; height: 0; line-height: 0; visibility: hidden; overflow: hidden; text-indent: -9999px;}
.offscreen{clip:rect(1px 1px 1px 1px); display: inline-block; position: absolute; width: 1px; height: 1px; line-height: 0;font-size: 1px; overflow: hidden;}
input[type="text"],input[type="search"],input[type="password"]{border:none;}
body{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size:10px;
}
:root{
	--body-font: "맑은고딕",MalgunGothic,sans-serif;
  --cont-width:1200px;
  --cont-width-wide:1400px;
  --primary-color: #eea303;
  --content-pd: 4rem;
  --mb-font-size: 1.6rem;
}

a, button{font-family: var(--body-font , sans-serif); font-size:1.4rem;}
*{transition: all .4s ease;}

@media (max-width: 768px) {
	html,body{font-size:8px;}
}